/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body{
	font-family:'Roboto Condensed','Arial',sans-serif;
}

a{
	text-decoration: none;
	color:rgba(80,227,194,0.85);
}

a:hover{
	text-decoration: underline;
}

.wrapper{
	max-width:824px;
	margin:0 auto;
}

.button{
	background:rgba(80,227,194,0.85);
	color:#fff;
	text-transform: uppercase;
	text-align:center;
	display:inline-block;
	padding:15px 0;
	min-width:250px;
	text-decoration: none;
	border:1px solid #fff;
	border-radius:2px;
	font-family:'Oswald';
	font-size:26px;
	text-shadow:0 1px rgba(0,0,0,0.3);
	box-shadow:0 5px 10px rgba(0,0,0,0.5);
	transition:all .25s ease-in-out;
}

.button:hover, .button:active{
	background:rgba(80,227,194,1);
	transform:scale(1.05,1.05);
	text-decoration: none;
}

header#intro{
	background:#000 url(../images/chalkboard.jpg) center -200px no-repeat;
	background-attachment: fixed;
	background-size:cover;
	min-height:500px;
	color:#fff;
	padding:15px 0 50px;
	overflow:hidden;
	text-align: center;
	position:relative;
}

header#intro:after{
	content:'';
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

header#intro .wrapper{
	position:relative;
	padding:0 30px;
	z-index:2;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	position:absolute;
	bottom:120px;
	top:0;
	left:0;
	right:0;
}



#intro .brand,
#intro .primary{
	text-transform: uppercase;
	font-size:13px;
}

#intro .name{
	font-weight:bold;
}

#intro .brand{
	float:left;
}

#intro .primary{
	float:right;
}

#intro .primary a{
	text-decoration: none;
	color:#fff;
	display:inline-block;
	border-right:1px solid #fff;
	margin-right:5px;
	padding-right:5px;
}

#intro .primary a:last-child{
	border:0;
}

#intro h1{
	text-transform:uppercase;
	font-weight:bold;
	font-size:40px;
	text-align:center;
	margin:0 auto;
	padding:50px 0 35px;
	clear:both;
	max-width:500px;
	line-height:60px;
	font-family:'Oswald';
}

.section-label{
	text-align: center;
	font-weight: 700;
	font-size:18px;
	text-transform: uppercase;
	margin-bottom:10px;
}

section#gallery{
	position:relative;
	background:none;
	text-align:center;
}

section#gallery .wrapper{
	position:relative;
	z-index:2;
	background:#fff;
}

section#gallery:before{
	content:'';
	position:absolute;
	top:-5rem;
	right:0;
	z-index:1;
	bottom:-5rem;
	left:0;
	background:#fff;
	transform:skew(0deg,-3deg);
}

#gallery li{
	list-style-type:none;
	display:inline-block;
	margin:10px;
	text-align: left;

}

#gallery .thumbnail{
	width:250px;
	height:250px;
	margin-bottom:10px;
	overflow: hidden;

}

#gallery .thumbnail img{
	min-width:250px;
	max-width:260px;
	min-height:250px;
}

#gallery li a{
	display:block;
	color:#111;
	text-decoration: none;
}

footer#packages{
	background:#111;
	color:#fff;
	padding:50px 0;
	text-align:center;
}

footer#packages .follow-me{
	display:inline-block;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top:20px;
	margin-bottom:10px;
	border-top:1px solid #aaa;
	padding:25px 25px 10px;
}

.follow-me .fa{
	margin-right:10px;
}

footer#packages .wrapper{
	padding-top:80px;
}

#packages .number-label{
	text-align:center;
}

#packages .thumbnail{
	width:250px;
	height:250px;
	overflow: hidden;
}

#packages .thumbnail img{
	min-width:250px;
	max-width:300px;
	min-height:250px;
}

#packages .number{
	background:#fff;
	color:#000;
	display:inline-block;
	border-radius:100%;
	width:50px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	font-size:25px;
	text-align:center;
}

#packages .package-label{
	font-family:'Oswald';
	margin:20px 0;
	font-size:20px;
	text-transform: uppercase;
}

#packages li {
	list-style-type:none;
	display:inline-block;
	text-align:left;
	max-width:250px;
	margin:10px;
	clear:both;
	padding:10px;
	overflow:hidden;
	min-height:600px;
	position:relative;
}

.cancel{
	position:fixed;
	top:15px;
	right:15px;
	color:#fff;
	font-family:'Oswald';
	font-size:13px;
	z-index:101;
	position:fixed;
	text-decoration: none;
	text-transform: uppercase;
	display:none;
}

#typeform-full{
	display:none;
}

#typeform-full.fullscreen{
	display:block;
}

.fullscreen{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:100;
}

#packages .button{
	font-size:16px;
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
}


#packages p{
	margin:20px 0;
	line-height:22px;
	min-height:80px;
}

#packages .price{
	display:block;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.scrim{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:10;
	background:rgba(255,255,255,0.5);
	display: none;
}

.content-modal{
	position:fixed;
	top:50%;
	left:50%;
	max-width:350px;
	transform:translate(-50%,-50%);
	background:#fff;
	padding:20px;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	display:none;
	color:#222;
	z-index:20;
	line-height:22px;
}

.content-modal h2{
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:25px;
}

.content-modal ul{
	margin-left:20px;
	margin-bottom:20px;
}

.content-modal li{
	margin-bottom:5px;
}

.content-modal .content{
	display:none;
}
